* {
	box-sizing: border-box;
}
.container {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-around;*/
}
figure {
	margin: 5px;
	padding: 0px;
	min-width: 200px;
	flex: 1;
	border-radius: 5px;
	box-shadow: 5px 5px 10px 0px rgba(219,219,219,1);
}
img {
	width: 100%;
}
figcaption {
	text-align: center;
}